.footer {
  padding: 60px 0 40px;
  text-align: center;
  color: var(--white);
  background-color: var(--black);

  img {
    height: 40px;
  }

  p {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 768px) {
    padding: 60px 0 20px;

    img {
      margin-bottom: var(--margin-tn);
    }

    p {
      display: flex;
      flex-flow: row;
    }
  }
}
