@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary:    hsl(0, 100%, 69%);
  --secondary:  hsl(0, 0%, 89%);
  --white:      hsl(0, 0%, 100%);
  --grey:       hsl(0, 0%, 98%);
  --black:      hsl(0, 0%, 0%);
  --filter:     hsla(0, 0%, 0%, 0.5);

  --margin-tn: 20px;
  --margin-sm: 30px;
  --margin-md: 50px;
  --margin-lg: 60px;
  --margin-wd: 100px;

  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 20px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}
